@model Cafsa.Web.Data.Entities.Activity

@{
    ViewData["Title"] = "Details";
}

<h2>Activity</h2>
<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Referee</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Referee.User.Document)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Referee.User.Document)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Referee.User.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Referee.User.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Referee.User.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Referee.User.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Referee.User.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Referee.User.Category)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Referee.User.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Referee.User.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Referee.User.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Referee.User.PhoneNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Service Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Neighborhood)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Neighborhood)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    Services
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Services.Count)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="EditService" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-primary">Add Image</a>
    <a asp-action="AddContract" asp-route-id="@Model.Id" class="btn btn-default">Add Contract</a>
    <a asp-action="Details" asp-route-id="@Model.Referee.Id" class="btn btn-success">Back to Referee</a>
</div>
<div class="row">
    <div class="col-md-3">
        <div>
            <h4>Images</h4>
            @if (Model.ActivityImages.Count == 0)
            {
                <h5>Not images added yet.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ActivityImages.FirstOrDefault().ImageUrl)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ActivityImages)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    <button data-id="@item.Id" class="btn btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    
</div>

